<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Weather Forecast App</h1>
        <div class="form-group">
            <label for="municipality">Enter Municipality:</label>
            <input type="text" id="municipality" placeholder="Enter municipality name">
            <button id="fetch-weather">Get Weather</button>
            <div>
                <h3>
                    Weather forcast provided by open-meteo
                    <h4>
                        Made by NKRisu on GitHub
                    </h4>
                </h3>
            </div>
        </div>
    </div>
    <script src="/static/indexPage.js"></script>
</body>
</html>
