<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather forecast for municipality</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <h1>Weather forecast for <span id="municipality-name"></span></h1>
        <div id="weather-container">
            <canvas id="dailyWeatherChart"></canvas>
            <canvas id="hourlyWeatherChart"></canvas>
        </div>
        <div id="municipality-info" class="info-box">
        </div>
        <button id="back-button">Back to Home</button>
    </div>
    <script src="/static/weatherPage.js"></script>
</body>
</html>
